<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

	<context:mbean-export registration="replaceExisting" />
	<bean id="autostart" class="tw.com.tradevan.core.jmx.AutostartHttpAdaptor">
		<property name="port" value="8099" />
		<property name="processor">
			<bean id="xsltProcessor" class="mx4j.tools.adaptor.http.XSLTProcessor" />
		</property>
	</bean>
	
	<!-- 
	<context:mbean-server id="mxserver" />
	<bean id="httpAdaptor" class="mx4j.tools.adaptor.http.HttpAdaptor" init-method="start">
		<property name="port" value="8099" />
		<property name="processor"> 
			<bean id="xsltProcessor" class="mx4j.tools.adaptor.http.XSLTProcessor" />
		</property>
	</bean>
	 -->
	
</beans>
