<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="indexAction" class="tw.com.tradevan.web.action.DefaultAction"></bean>
	<bean id="demoAction" class="tw.com.tradevan.web.action.DemoAction">
	</bean>
	<bean id="userAction" class="tw.com.tradevan.web.action.UserAction">
		<property name="manager" ref="userManager" />
	</bean>
</beans>
